/* Root */

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-Very-Dark-Blue: hsl(234, 12%, 34%);
  --clr-Grayish-Blue: hsl(229, 6%, 66%);
  --clr-Very-Light-Gray: hsl(0, 0%, 98%);

  --f-weight-200: 200;
  --f-weight-400: 400;
  --f-weight-600: 600;
}

/* Reset */

*, *::before, *::after {
  box-sizing: border-box;
}
  
* {
  margin: 0;
}

body {
  line-height: 1.5;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}
  
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
  
input, button, textarea, select {
  font: inherit;
}
  
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
  
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Style */

body {
  font-family: poppins;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.cards-container {
  max-width: 295px;
  background-color: var(--clr-Very-Light-Gray);
}

h1 {
  color: var(--clr-Grayish-Blue)
}

h2 {
  color: var(--clr-Very-Dark-Blue)
}

.cards {
  --cards-padding: 2.5rem;
  --card-padding: 28px; 
}

.card {
  background-color: white;
  border: 1px solid;
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
}

h3 {
  color: var(--clr-Very-Dark-Blue);
}

.cards p {
  color: var(--clr-Grayish-Blue);
  margin-bottom: 1rem;
}

img {
  width: 64px;
  align-self: flex-end;
}


.attribution {
  font-size: 13px;
  text-align: center;
  position: sticky;
  bottom: 1.5rem;
  left: 0;
  right: 0; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}